<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <nav th:fragment="navbar" class="navbar">
        <ul>
            <li class="navbar-item"><a th:href="@{/pages/home}">Logo</a></li>
            <li class="navbar-item"><a th:href="@{/pages/home}">Home</a></li>
            <li class="navbar-item"><a th:href="@{/pages/workouts}">Find a Workout</a></li>
            <li class="navbar-item"><a th:href="@{/pages/builder}">Build a Workout</a></li>
        </ul>
    </nav>
</body>
</html>