<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <nav th:fragment="navbar" class="navbar">
        <ul>
            <li class="navbar-item">Pedal 4 Progress</li>
            <li class="navbar-item"><a th:href="@{/pages/home}">Home</a></li>
            <li class="navbar-item"><a th:href="@{/pages/workouts}">Find a Workout</a></li>
            <li class="navbar-item"><a th:href="@{/pages/builder}">Build a Workout</a></li>
            <li class="navbar-item" sec:authorize="isAnonymous()">
                <a th:href="@{/pages/login}">Login</a>
            </li>
            <li class="navbar-item" sec:authorize="isAnonymous()">
                <a th:href="@{/pages/signup}">Sign Up</a>
            </li>
            <li class="navbar-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/pages/profile/{username}(username=${#authentication.name})}">
                    <span>Profile: </span>
                    <span th:text="${#authentication.name}"></span>
                </a>
            </li>
            <li class="navbar-item" sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/pages/admin}">
                    Administrator
                </a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}">
                    <button class="navbar-item" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</body>
</html>