<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Workouts</title>
    <link rel="stylesheet" th:href="@{/scripts/css/global.css}">
    <link rel="stylesheet" th:href="@{/scripts/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/scripts/css/workouts.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="page-start">
        <h1>Workouts</h1>

        <!-- Sidebar toggle button -->
        <button id="filterToggle" class="filter-toggle-btn">☰ filters</button>
    </div>


    <!-- Sidebar -->
    <aside id="filterSidebar" class="workout-filter sidebar">
        <form id="workoutFilterForm">
            <div class="filter-group">
                <label for="filterWorkoutName">name</label>
                <input type="text" id="filterWorkoutName" placeholder="name">
            </div>

            <div class="filter-group">
                <label for="filterWorkoutDesc">description</label>
                <input type="text" id="filterWorkoutDesc" placeholder="description">
            </div>

            <div class="filter-group">
                <label>
                    <span class="filter-label">target zones</span>
                </label>

                <div class="zone-checkboxes">
                    <label class="zone-checkbox"><input type="checkbox" value="1"><span>zone 1</span></label>
                    <label class="zone-checkbox"><input type="checkbox" value="2"><span>zone 2</span></label>
                    <label class="zone-checkbox"><input type="checkbox" value="3"><span>zone 3</span></label>
                    <label class="zone-checkbox"><input type="checkbox" value="4"><span>zone 4</span></label>
                    <label class="zone-checkbox"><input type="checkbox" value="5"><span>zone 5</span></label>
                    <label class="zone-checkbox"><input type="checkbox" value="6"><span>zone 6</span></label>
                    <label class="zone-checkbox"><input type="checkbox" value="7"><span>zone 7</span></label>
                </div>
            </div>

            <div class="filter-group">
                <label for="filterWorkoutCreatedBy">Created By</label>
                <input type="text" id="filterWorkoutCreatedBy" placeholder="Creator">
            </div>

            <div class="filter-group">
                <label for="filterWorkoutCreatedAt">Created At</label>
                <input type="date" id="filterWorkoutCreatedAt" name="filterWorkoutCreatedAt">
            </div>

            <!-- Buttons row -->
            <div class="form-buttons">
                <button type="button" id="clearFilterBtn" class="filter-form-btn">clear</button>
                <button type="submit" id="filterFormSubmit" class="filter-form-btn">filter</button>
                <button type="button" id="filterFormBack" class="filter-form-btn">back</button>
            </div>
        </form>
    </aside>

    <div id="workoutsContainer" class="workout-container">
        <template id="workoutCardTemplate">
            <div id="workoutCard" class="workout-card">
                <h3 id="workoutName" class="workout-name"></h3>
                <div id="workoutGraph" class="workout-graph">
                    <canvas></canvas>
                </div>
                <p id="workoutDescription" class="workout-description"></p>
                <p id="workoutTargetZones" class="workout-targetZones"></p>
                <div class="workout-actions">
                    <button
                            class="workout-favouriteButton"
                            type="button"
                            id="likeWorkoutBtn"
                    >
                        00
                        👍
                    </button>
                    <button
                            class="workout-favouriteButton"
                            type="button"
                            id="dislikeWorkoutButton"
                    >
                        00
                        👎
                    </button>
                    <a id="workoutExpandButton" class="workout-expandButton" href="">view</a>
                    <button
                            class="workout-favouriteButton"
                            type="submit"
                            id="workoutFavouriteButton"
                            aria-pressed="false"
                            aria-label="Add to favourites">
                        Favourite
                    </button>
                </div>


            </div>
        </template>
    </div>
</body>

</html>
<script th:inline="javascript">
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" th:src="@{/scripts/js/pages/workoutsPage.js}"></script>
<script type="module" th:src="@{/scripts/js/components/workoutCard.js}"></script>
<script type="module" th:src="@{/scripts/js/components/workoutChart.js}"></script>