<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
    <link rel="stylesheet" th:href="@{/scripts/css/global.css}">
    <link rel="stylesheet" th:href="@{/scripts/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/scripts/css/workoutExpanded.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="workout-page">
        <h1 th:text="${workout.name}"></h1>
        <div class="workout-targetZones" th:text="${workout.targetZones}"></div>
        <div class="workout-graph">
            <canvas></canvas>
        </div>

        <p class="workout-description" th:text="${workout.description}"></p>

    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/scripts/js/workouts.js}"></script>
<script th:inline="javascript">
    const canvas = document.querySelector(".workout-graph canvas");
    const zones = document.querySelector(".workout-targetZones");

    const workoutStructure = [[${workout.structure}]];
    const targetZones = [[${workout.targetZones}]];

    convertTargetZonesToString(zones, targetZones);
    createWorkoutGraph(canvas, workoutStructure);
</script>
