* {
    font-family: Consolas, "Courier New", monospace;
}

/*
    Standard section container
 */
.section-container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;

    background: #ffffff;
    border: 2px solid #000;
    border-radius: 20px;

    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

/*
    Standard section elements
 */
.section-container h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}