/* Navbar container */
.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #333;
}

/* UL must be flex */
.navbar ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar items */
.navbar-item {
    padding: 0 40px;
}

/* Links */
.navbar a {
    color: white;
    text-decoration: none;
    line-height: 40px;
}